/AllNearestSmallerValues.class
/ArrayRotate.class
/BinaryExponentiation.class
/BinarySearch.class
/FunctionCycleDetection.class
/Inversions.class
/KnightDistance.class
/MaximumZeroSubmatrix.class
/MonotonicApproximation.class
/Sat2.class
/TernarySearch.class
